<div class="jumbotron">
    <h1 class="display-4">Sobre Comics</h1>
    <hr class="my-4">
    <p>
        Tanto Marvel como DC Comics comenzaron durante la década de 1930, unos años antes de la Segunda Guerra Mundial.
        La
        Segunda Guerra Mundial definitivamente tuvo un impacto extremo en el mundo y en los Estados Unidos en
        particular. Por
        supuesto, muchos aspectos se vieron afectados, incluidos los cómics. Como resultado, Marvel y DC Comics
        compartieron un
        tema bastante similar: guerra y humor. En una época de guerra tan deprimente, la gente necesitaba algo para
        aligerar sus
        días y ¿qué puede ser mejor que un cómic? Por lo tanto, tanto Marvel como DC Comics lanzaron muchos temas
        divertidos y
        extraños. Además, hubo tema bélico recurrente con superhéroes; normalmente tenemos al Capitán América en Marvel
        y a
        Superman en DC Comics. Por supuesto, después de la guerra, ambas editoriales cambiaron gradualmente sus enfoques
        principales. Los cambios más significativos se realizaron durante la década de 1960. Con DC Comics tenemos Edad
        de Plata
        y Edad de Oro. Y con Marvel, tenemos a nuestros famosos autores Stan Lee y Jack Kirby.
    </p>
    <div class="text-center">
        <img src="assets/img/dc.jpg" class="img-fluid" width="30%" alt="">
    </div>
</div>
